@import url("./vendor/meyer-reset.css");

@font-face {
  font-family: "Tilda Sans-Medium";
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/tildasans-medium.ttf') format("truetype");
}

@font-face {
  font-family: "Tilda Sans-Bold";
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/tildasans-bold.ttf') format("truetype");
}


/* The following line is used to measure usage of this code. You can remove it if you want. */
/* @import url("https://px.animaapp.com/67d17e79307c8641d34b3cfe.67d17e7a307c8641d34b3d01.Pt0sCMg.hch.png"); */


.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.component-wrapper a {
  display: contents;
  pointer-events: auto;
  text-decoration: none;
}

.component-wrapper * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  pointer-events: none;
}

.component-wrapper a *,
.component-wrapper input,
.component-wrapper video,
.component-wrapper iframe {
  pointer-events: auto;
}

.component-wrapper.not-ready,
.component-wrapper.not-ready * {
  visibility: hidden !important;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.full-width-a {
  width: 100%;
}

.full-height-a {
  height: 100%;
}

.container-center-vertical {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  pointer-events: none;
}

.container-center-vertical > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.auto-animated div {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated input {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}

.overlay-base {
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay-base.animate-appear {
  align-items: center;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.overlay-base.animate-disappear {
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
  display: block;
  opacity: 1;
  pointer-events: none;
}

.overlay-base.animate-disappear * {
  pointer-events: none;
}

@keyframes reveal {
  from { opacity: 0 }
 to { opacity: 1 }
}

.animate-nodelay {
  animation-delay: 0s;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: flex-center;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify: flex-end;
}

input:focus {
  outline: none;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
:root { 
  --black: #181a1b;
  --black-2: #000000;
  --black-haze: #f7f7f7;
  --gray: #545b5e;
  --licorice: #1b151566;
  --red: #ff5248;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-xl: 34px;
  --font-size-xxl: 40px;
 
  --font-family-tilda_sans-bold: "Tilda Sans-Bold", Helvetica;
  --font-family-tilda_sans-extrabold: "Tilda Sans-ExtraBold", Helvetica;
  --font-family-tilda_sans-medium: "Tilda Sans-Medium", Helvetica;
  --font-family-tilda_sans-semibold: "Tilda Sans-Semibold", Helvetica;
}
.tildasans-medium-scarpa-flow-18px {
  color: var(--gray);
  font-family: var(--font-family-tilda_sans-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.tildasans-medium-eerie-black-18px {
  color: var(--black);
  font-family: var(--font-family-tilda_sans-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.tildasans-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-tilda_sans-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.tildasans-medium-licorice-18px {
  color: var(--licorice);
  font-family: var(--font-family-tilda_sans-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

body {
  margin: 0;
  /* Удалено переопределение font-family, чтобы использовался глобальный стиль из AdminPage.css */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
