{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify jazzmin %}
{% get_jazzmin_settings request as jazzmin_settings %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item">
                {% if has_view_permission %}
                    <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
                {% else %}
                    {{ opts.verbose_name_plural|capfirst }}
                {% endif %}
            </li>
            <li class="breadcrumb-item active">
                {% if add %}
                    {% blocktrans with name=opts.verbose_name %}Add{% endblocktrans %}
                {% else %}
                    {{ original|truncatewords:"18" }}
                {% endif %}
            </li>
        </ol>
    {% endblock %}
{% endif %}