.thumb-container {
    width: 150px;
    height: 90px;
    overflow: hidden;
    padding: 2px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    margin: 2px;
}

.thumb-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.thumb-image:hover {
    scale: 1.02;
    cursor: pointer;
}

.thumb-container:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.login-logo h1 picture img{
    width: 100% !important;
}

.main-sidebar{
    overflow: hidden;
}

.brand-image{
    float: left;
    line-height: .8;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    max-height: 33px ;
    width: auto;
}

.brand-link{
padding: 0.458rem 0 !important;
}