{% extends 'admin/base.html' %}
{% load i18n static jazzmin admin_urls  admin_list %}
{% get_jazzmin_settings request as jazzmin_settings %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}


{% block content_title %}
    О компании
{% endblock %}

{% block main %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="container display-4" style="font-size: 16px">
     ТЕЛЕВИН — это рекламная платформа в Telegram, объединяющая владельцев каналов и рекламодателей.
Наша цель — создавать прозрачные и удобные механизмы для заработка на рекламе.
Мы гарантируем честные расчёты, поддержку на каждом этапе и доступ к инструментам автоматизации.
ООО «ТЕЛЕВИН», ИНН 9707043478.
    </p>
  </div>
</div>


{% endblock %}
