# Игнорировать файлы аудио
output_audio/

# Игнорировать текстовые чанки
text_chunks/

# Игнорировать краткие описания
summaries/

# Игнорировать файлы книг
*.txt
!README.txt

# Игнорировать .env
.env

# Игнорировать node_modules
node_modules/
